{% extends "index.html"%}

{% block content_title %}
<div class="container">
    <h1>
        Edit employee {{employee.name}} {{employee.surname}}
    </h1>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="col-md-4">
        <form action="{{url_for('edit_employee', slug=employee.slug)}}" method="POST">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label() }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">
                Edit
            </button>
        </form>
    </div>
</div>
{% endblock %}
